@model WalletCategoryTransactionViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Budget Finance Tracker</h1>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        <form method="get">
            <div class="form-label mb-3">
                <label class="form-label">Select a Wallet</label>
                <select name="id" asp-items="Model.Wallets" class="form-select">
                    <option value="-1">-- Choose a Wallet --</option>
                </select>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-success" value="Select"/>
                <input class="btn btn-success" type="button" data-bs-toggle="modal"
                       data-bs-target="#addWalletModal"
                       value="New"/>
            </div>
        </form>
    </div>
</div>

@if (Model.Wallet is not null)
{
    <div class="card shadow">
        <div class="card-body fw-bold">
            <div class="card-title">
                <h2 class="text-center text-success">@Model.Wallet.Name</h2>
            </div>
            <div class="d-flex justify-content-between">
                <p class="card-text">Income:</p>
                <p class="card-text">$@Model.Wallet.Income</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="card-text">Expenditure:</p>
                <p class="card-text">$@Model.Wallet.Expenses</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="card-text">Balance:</p>
                <p class="card-text">$@Model.Wallet.Balance</p>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Transactions</h3>
    <div class="card shadow">
        <div class="card-body fw-bold">
            <div class="card-title d-flex justify-content-between">
                <h4>History</h4>
                <input class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#addTransactionModal"
                       value="Add New Transaction"/>
            </div>
            <br/>
            @* TODO: Move list of transactions to a table for more structured data *@
            @* TODO: Table should of course have a heading of columns (Transactions, Date, Amount, Actions) *@
            @if (Model.Transactions is not null)
            {
                @foreach (var transaction in Model.Transactions)
                {
                    <div class="transaction-list-row d-flex justify-content-between align-items-center mb-3">
                        <input type="hidden" asp-for="@transaction.Id"/>
                        <p class="p-3 fs-5 card-text m-0">&bull; @transaction.Name</p>
                        <p class="p-3 fs-5 card-text m-0">Cost: @transaction.Cost</p>
                        <div class="p-3">
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateTransactionModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </button>
                            <button class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
else
{
    <p class="text-center">Choose a wallet to view transactions</p>
}

<!-- Add Wallet Modal -->

<div class="modal fade" id="addWalletModal" tabindex="-1" aria-labelledby="addWalletModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="addWalletModalLabel">Add a Wallet</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addWalletForm" method="post" asp-controller="Home" asp-action="AddWallet">
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="Wallet.Name" class="form-label">Wallet</label>
                        <input asp-for="Wallet.Name" required type="text" class="form-control" placeholder="Enter Name of Wallet">
                    </div>
                    <div class="mb-3">
                        <label asp-for="Wallet.Income" class="form-label">Income</label>
                        $<input asp-for="Wallet.Income" required type="number" class="form-control" placeholder="0.00">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="text-success btn btn-light">Add</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Transaction Modal -->

<div class="modal fade" id="addTransactionModal" tabindex="-1" aria-labelledby="addTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="addTransactionModalLabel">Add a Transaction</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addTransactionForm" method="post" asp-controller="Home" asp-action="AddTransaction">
                <div class="modal-body">
                    <input type="hidden" value="@Model.WalletId" asp-for="WalletId"/>
                    <div class="mb-3 form-label">
                        <label asp-for="Transaction.Name" class="form-label">Transaction</label>
                        <input asp-for="Transaction.Name" required type="text" class="form-control" placeholder="Enter Name of Transaction">
                    </div>
                    <div class="mb-3 form-label">
                        <label asp-for="Transaction.Description" class="form-label">Description</label>
                        <input asp-for="Transaction.Description" type="text" class="form-control" placeholder="Enter the Description">
                    </div>
                    <div class="mb-3 form-label">
                        <label asp-for="Transaction.Cost" class="form-label">Cost</label>
                        $<input asp-for="Transaction.Cost" value="0" min="0" type="number" class="form-control" placeholder="0.00">
                    </div>
                    <div class="form-label">
                        <label asp-for="Transaction.Month" class="form-label">Select a Month</label>
                        <select asp-for="Transaction.Month" required asp-items="Html.GetEnumSelectList<Month>()" class="form-select">
                            <option value="">-- Choose a Month --</option>
                        </select>
                    </div>
                    <div class="form-label">
                        <label asp-for="Transaction.CategoryId" class="form-label">Select a Category</label>
                        <select asp-for="Transaction.CategoryId" required asp-items="Model.CategoriesSelectList" class="form-select">
                            <option value="-1">-- Choose a Category --</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="text-success btn btn-light">Add</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update Transaction Modal -->

<div class="modal fade" id="updateTransactionModal" tabindex="-1" aria-labelledby="updateTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="updateTransactionModalLabel">Add a Transaction</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="updateTransactionForm" method="post" asp-controller="Home" asp-action="@* UpdateTransaction*@"> 
                <div class="modal-body">
                    <div class="mb-3 form-label">
                        <label asp-for="Transaction.Name" class="form-label">Transaction</label>
                        <input asp-for="Transaction.Name" required type="text" class="form-control" placeholder="Enter Name of Transaction">
                    </div>
                    <div class="mb-3 form-label">
                        <label asp-for="Transaction.Description" class="form-label">Description</label>
                        <input asp-for="Transaction.Description" type="text" class="form-control" placeholder="Enter the Description">
                    </div>
                    <div class="mb-3 form-label">
                        <label asp-for="Transaction.Cost" class="form-label">Cost</label>
                        $<input asp-for="Transaction.Cost" value="0" min="0" type="number" class="form-control" placeholder="0.00">
                    </div>
                    <div class="form-label">
                        <label asp-for="Transaction.Month" class="form-label">Select a Month</label>
                        <select asp-for="Transaction.Month" required asp-items="Html.GetEnumSelectList<Month>()" class="form-select">
                            <option value="">-- Choose a Month --</option>
                        </select>
                    </div>
                    <div class="form-label">
                        <label asp-for="Transaction.CategoryId" class="form-label">Select a Category</label>
                        <select asp-for="Transaction.CategoryId" required asp-items="Model.CategoriesSelectList" class="form-select">
                            <option value="-1">-- Choose a Category --</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="text-success btn btn-light">Add</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>